In [31]:
import pandas as pd 
dataset1=pd.read_csv("Market_Basket_Optimisation.csv", sep=",",header= None)
dataset1.info()
dataset=[]
for i in range(0,7001):
    
    dataset.append([str(dataset1.values[i,j]) for j in range(0,20)])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [26]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6997,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7000,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [32]:
for c in df.columns:
    print(c)

 asparagus
almonds
antioxydant juice
asparagus
avocado
babies food
bacon
barbecue sauce
black tea
blueberries
body spray
bramble
brownies
bug spray
burger sauce
burgers
butter
cake
candy bars
carrots
cauliflower
cereals
champagne
chicken
chili
chocolate
chocolate bread
chutney
cider
clothes accessories
cookies
cooking oil
corn
cottage cheese
cream
dessert wine
eggplant
eggs
energy bar
energy drink
escalope
extra dark chocolate
flax seed
french fries
french wine
fresh bread
fresh tuna
fromage blanc
frozen smoothie
frozen vegetables
gluten free bar
grated cheese
green beans
green grapes
green tea
ground beef
gums
ham
hand protein bar
herb & pepper
honey
hot dogs
ketchup
light cream
light mayo
low fat yogurt
magazines
mashed potato
mayonnaise
meatballs
melons
milk
mineral water
mint
mint green tea
muffins
mushroom cream sauce
nan
napkins
nonfat milk
oatmeal
oil
olive oil
pancakes
parmesan cheese
pasta
pepper
pet food
pickles
protein bar
red wine
rice
salad
salmon
salt
sandwich
shallot
shampoo
shrimp
soda
soup
spaghetti
sparkling water
spinach
strawberries
strong cheese
tea
tomato juice
tomato sauce
tomatoes
toothpaste
turkey
vegetables mix
water spray
white wine
whole weat flour
whole wheat pasta
whole wheat rice
yams
yogurt cake
zucchini

In [36]:
df = df.drop('nan',axis=1)

In [37]:
for c in df.columns:
    print(c)

 asparagus
almonds
antioxydant juice
asparagus
avocado
babies food
bacon
barbecue sauce
black tea
blueberries
body spray
bramble
brownies
bug spray
burger sauce
burgers
butter
cake
candy bars
carrots
cauliflower
cereals
champagne
chicken
chili
chocolate
chocolate bread
chutney
cider
clothes accessories
cookies
cooking oil
corn
cottage cheese
cream
dessert wine
eggplant
eggs
energy bar
energy drink
escalope
extra dark chocolate
flax seed
french fries
french wine
fresh bread
fresh tuna
fromage blanc
frozen smoothie
frozen vegetables
gluten free bar
grated cheese
green beans
green grapes
green tea
ground beef
gums
ham
hand protein bar
herb & pepper
honey
hot dogs
ketchup
light cream
light mayo
low fat yogurt
magazines
mashed potato
mayonnaise
meatballs
melons
milk
mineral water
mint
mint green tea
muffins
mushroom cream sauce
napkins
nonfat milk
oatmeal
oil
olive oil
pancakes
parmesan cheese
pasta
pepper
pet food
pickles
protein bar
red wine
rice
salad
salmon
salt
sandwich
shallot
shampoo
shrimp
soda
soup
spaghetti
sparkling water
spinach
strawberries
strong cheese
tea
tomato juice
tomato sauce
tomatoes
toothpaste
turkey
vegetables mix
water spray
white wine
whole weat flour
whole wheat pasta
whole wheat rice
yams
yogurt cake
zucchini

In [52]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.1)

    support itemsets
0  0.163977     (25)
1  0.178689     (37)
2  0.170119     (43)
3  0.132267     (54)
4  0.129696     (71)
5  0.241680     (72)
6  0.177403    (100)

In [56]:
frequent_itemsets=apriori(df, min_support=0.04, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

     support                      itemsets
0   0.086416                     (burgers)
1   0.082702                        (cake)
2   0.046565                   (champagne)
3   0.060848                     (chicken)
4   0.163977                   (chocolate)
5   0.082131                     (cookies)
6   0.052135                 (cooking oil)
7   0.178689                        (eggs)
8   0.078989                    (escalope)
9   0.170119                (french fries)
10  0.042423                 (fresh bread)
11  0.063562             (frozen smoothie)
12  0.095415           (frozen vegetables)
13  0.052850               (grated cheese)
14  0.132267                   (green tea)
15  0.099129                 (ground beef)
16  0.048850               (herb & pepper)
17  0.048422                       (honey)
18  0.076418              (low fat yogurt)
19  0.129696                        (milk)
20  0.241680               (mineral water)
21  0.066419                   (olive oil)
22  0.093987                    (pancakes)
23  0.042137                      (salmon)
24  0.072561                      (shrimp)
25  0.050421                        (soup)
26  0.177403                   (spaghetti)
27  0.068847                    (tomatoes)
28  0.062420                      (turkey)
29  0.058706            (whole wheat rice)
30  0.053135    (chocolate, mineral water)
31  0.052135         (mineral water, eggs)
32  0.041565  (mineral water, ground beef)
33  0.040280      (spaghetti, ground beef)
34  0.048850         (milk, mineral water)
35  0.061563    (spaghetti, mineral water)

In [57]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(chocolate),(mineral water),0.163977,0.241680,0.053135,0.324042,1.340790,0.013505,1.121845
1,(mineral water),(chocolate),0.241680,0.163977,0.053135,0.219858,1.340790,0.013505,1.071630
2,(mineral water),(eggs),0.241680,0.178689,0.052135,0.215721,1.207245,0.008950,1.047218
3,(eggs),(mineral water),0.178689,0.241680,0.052135,0.291767,1.207245,0.008950,1.070721
4,(mineral water),(ground beef),0.241680,0.099129,0.041565,0.171986,1.734975,0.017608,1.087990
5,(ground beef),(mineral water),0.099129,0.241680,0.041565,0.419308,1.734975,0.017608,1.305891
6,(spaghetti),(ground beef),0.177403,0.099129,0.040280,0.227053,2.290489,0.022694,1.165502
7,(ground beef),(spaghetti),0.099129,0.177403,0.040280,0.406340,2.290489,0.022694,1.385636
8,(milk),(mineral water),0.129696,0.241680,0.048850,0.376652,1.558475,0.017505,1.216528
9,(mineral water),(milk),0.241680,0.129696,0.048850,0.202128,1.558475,0.017505,1.090781
10,(spaghetti),(mineral water),0.177403,0.241680,0.061563,0.347021,1.435871,0.018688,1.161324
11,(mineral water),(spaghetti),0.241680,0.177403,0.061563,0.254728,1.435871,0.018688,1.103754

In [58]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(chocolate),(mineral water),0.163977,0.241680,0.053135,0.324042,1.340790,0.013505,1.121845
1,(mineral water),(chocolate),0.241680,0.163977,0.053135,0.219858,1.340790,0.013505,1.071630
2,(mineral water),(ground beef),0.241680,0.099129,0.041565,0.171986,1.734975,0.017608,1.087990
3,(ground beef),(mineral water),0.099129,0.241680,0.041565,0.419308,1.734975,0.017608,1.305891
4,(spaghetti),(ground beef),0.177403,0.099129,0.040280,0.227053,2.290489,0.022694,1.165502
5,(ground beef),(spaghetti),0.099129,0.177403,0.040280,0.406340,2.290489,0.022694,1.385636
6,(milk),(mineral water),0.129696,0.241680,0.048850,0.376652,1.558475,0.017505,1.216528
7,(mineral water),(milk),0.241680,0.129696,0.048850,0.202128,1.558475,0.017505,1.090781
8,(spaghetti),(mineral water),0.177403,0.241680,0.061563,0.347021,1.435871,0.018688,1.161324
9,(mineral water),(spaghetti),0.241680,0.177403,0.061563,0.254728,1.435871,0.018688,1.103754